


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: #484FB7;
    margin: 0;
    min-width: 450px;
}


h1, h2 {
    font-family: "Kavoon", sans-serif;
    color: #ffffff;
    text-align: center;
}

h1 {
    position: relative;
    z-index: 1000;
    z-index: 10;
    font-size: 3em;
    padding: 20px 0;
    background-color: #6B8FE7;
    border-radius: 0 0 15px 15px;
    margin: 0;
    
}
header p {
    padding-top: 20px;
    background-color: #D9526F;
    border-radius: 0 0 15px 15px;
    margin: -10px auto 50px auto;
    width: 95%;
    color: #ffffff;
    font-style: italic;
    text-align: center;
    

}
nav h2 {
    font-size: 1.5em;
}
h2 {
    font-size: 2em;
    text-align:left;
    margin: 10px 0 0 10px;
}
h3 {
    font-size: 1.5em;
    color: #E9BB57;
    margin: 0 0 5px 10px;
}
h4 {
    font-size: 1.15em;
    color: #484FB7;
}

nav{
    z-index: 50;
    background-color:#E9BB57; 
    position: fixed;
    top:0;
    right:0;
    border-radius: 0 0 15px 15px;
    width: 25%; 
}
nav li{
    display: none;
}
nav li:first-child{
    display:block;
}


.services-container {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
}
.services-container div{
    margin: 5px;
}

#our-services img{
    margin-left: 10px;
}
#why-choose-us{
    padding: 5px;
    background-color: #D9526F;
}
#choose-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    padding: 10px;
    column-gap: 5px;
    
}
#choose-container p{
    text-align: center;
    border-radius: 15px;
    padding: 50px;
    white-space: normal;
    margin: 0 auto;
    width: 50%;
    font-weight: bold;
    font-size:1.25em;

}
#pricing{
    margin-bottom: 5px;
}
#pricing table{
    margin: auto;
}
table, tr:first-child{
    background-color: #E9BB57;
}
.table-labels{
    background-color: #E9BB57;
    text-align: center;

}

 td{
    background-color: #ffffff;
    padding: 15px;
}

#first-step{
    background-color:#D9526F;
    padding: 5px;
}


#first-step div{
    margin-left: 5px;
}

#first-step button{
    width: 75%;
    margin:auto;
    background-color: #ffffff;
    color: #1E1E1E;
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 2px 2px 4px #1E1E1E;
    border: none;
}

footer{
    background-color:#6B8FE7;
    border-radius: 0 0 35px 35px;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 20px;
}
footer p{
    display: inline;
    color: #ffffff;
    padding: 25px;
    font-size: .75em;
}