/* -------------------- CSS BY NAME -------------------------------------- */


/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*-------------------- CSS REST ---------------------------------------------------*/

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/


body{
    font-family: "Inter", sans-serif;
    background-color: #484FB7;
    margin: 0;
    min-width: 450px;
}


h1, h2 {
    font-family: "Kavoon", sans-serif;
    color: #ffffff;
    text-align: center;
}

h1 {
    position: relative;
    z-index: 10;
    font-size: 3em;
    padding: 20px 0;
    background-color: #6B8FE7;
    border-radius: 0 0 15px 15px;
    margin: 0;
    
}
header p {
    padding-top: 20px;
    background-color: #D9526F;
    border-radius: 0 0 15px 15px;
    margin: -10px auto 50px auto;
    width: 95%;
    color: #ffffff;
    font-style: italic;
    text-align: center;
    
}

nav ul{
    padding: 0;
}
nav h2 {
    font-size: 1.5em;
    font-family: "Inter", sans-serif;
    display:inline;
    color: #1E1E1E;
}
h2 {
    font-size: 2em;
    text-align:left;
    margin: 10px 0 0 10px;
}
h3 {
    font-size: 1.5em;
    color: #E9BB57;
    margin: 0 0 5px 10px;
}
h4 {
    font-size: 1.15em;
    color: #484FB7;
}

nav{
    z-index: 50;
    background-color:#E9BB57; 
    position: fixed;
    top:0;
    right:0;
    border-radius: 0 0 15px 15px;
    width: 25%; 
}
nav li{
    display: none;
}
nav li:first-child{
    display:block;
    text-transform:uppercase;
    text-align: center;
    font-style:italic;
    
}

.services-container h3{
    width: 100%;
}

.service-container {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
}
.service-container div{
    margin: 5px;
}

#our-services img{
    margin-left: 10px;
}
#why-choose-us{
    padding: 5px;
    background-color: #D9526F;
}
#choose-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    padding: 10px;
    column-gap: 5px;
    
}
#choose-container p{
    text-align: center;
    border-radius: 15px;
    padding: 50px;
    white-space: normal;
    margin: 0 auto;
    width: 50%;
    font-weight: bold;
    font-size:1.25em;

}
#pricing{
    margin-bottom: 5px;
}
#pricing-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
}
#pricing table{
    margin: auto;
}

table, tr:first-child{
    background-color: #E9BB57;
}

.table-container{
    width: 100%;

}
.table-labels{
    background-color: #E9BB57;
   text-align: center;

}

 td{
    background-color: #ffffff;
    padding: 15px;
}

#first-step{
    background-color:#D9526F;
    padding: 5px;
}

#first-step div{
    margin-left: 5px;
}

#first-step-container{
    display: flex;
    flex-wrap: wrap;

}

#first-step button{
    width: 75%;
    margin:auto;
    background-color: #ffffff;
    color: #1E1E1E;
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 2px 2px 4px #1E1E1E;
    border: none;
}

footer{
    background-color:#6B8FE7;
    border-radius: 0 0 35px 35px;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 20px;
}
footer > p{
    display: inline;
    color: #ffffff;
    padding: 25px;
    font-size: .75em;
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/

@media screen and (min-width: 620px){

    .services-container{
        display: flex;
        flex-wrap: wrap;
    }
    .service-container{
        width: 40%;
        height: 400px;
    }

    .service-container:nth-child(even):last-child{
        width: 90%;
        height: auto;
    }
    #choose-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #choose-container p {
        width: 25%;
    }
    .table-container{
        width: 45%;
    }
    #first-step-container{
        align-items: flex-start;
    }
    #first-step-container p, #first-step-container button{
        width: 45%;
    }



}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width: 950px){
    nav{
        width: 50%;
    }
    nav li:first-child{
        display: none;
    }
    nav li{
        display: block;
        text-transform: uppercase;
    }
    nav a{
        text-decoration: none;
        color: #1E1E1E;
        font-weight: bold;
    }
    nav ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    h1{
        padding-top: 50px;
    }
    #all-services-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #all-services-container section{
        width: 23%;
    }
     h3{
        font-size: 1.2em;
        white-space: nowrap;

    }
    .service-container{
        width: 100%;
    }

    .table-container{
        width: 25%
    }
    #first-step-container button{
        width: 25%;
    }
}



/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/

@media screen and (min-width: 1200px){
    header, main, footer{
        max-width: 1100px;
        margin: auto;
    }
}